#intro
  %p
    Block helpers make it possible to define custom iterators and
    other functionality that can invoke the passed block with a new
    context.

%h2#basic-blocks
  Basic Blocks

.contents
  .bullet
    .description
      For demonstration purposes, let's define a block helper that invokes the
      block as though no helper existed.
    :html
      <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
          {{#noop}}{{body}}{{/noop}}
        </div>
      </div>
    .notes
      The <code>noop</code> helper (short for "no operation") will receive an options hash.
      This options hash contains a function (<code>options.fn</code>)
      that behaves like a normal compiled Handlebars template.
      Specifically, the function will take a context and return a
      String.
    :javascript
      Handlebars.registerHelper('noop', function(options) {
        return options.fn(this);
      });
    .notes
      Handlebars always invokes helpers with the current context as
      <code>this</code>, so you can invoke the block with
      <code>this</code> to evaluate the block in the current context.

%h2#basic-blocks
  Basic Block Variation

.contents
  .bullet
    .description
      To better illustrate the syntax, let's define another block helper that adds some markup to the wrapped text.
    :html
      <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
          {{#bold}}{{body}}{{/bold}}
        </div>
      </div>
    .notes
      The <code>bold</code> helper will add markup to make its text bold.
      As before, the function will take a context as input and return a String.
    :javascript
      Handlebars.registerHelper('bold', function(options) {
        return new Handlebars.SafeString(
            '<div class="mybold">'
            + options.fn(this)
            + '</div>');
      });



%h2#with-helper
  The <code>with</code> helper

.contents
  .bullet
    .description
      The <code>with</code> helper demonstrates how to pass a parameter to your helper.
      When a helper is called with a parameter, it is invoked 
      with whatever context the template passed in.
    :html
      <div class="entry">
        <h1>{{title}}</h1>
        {{#with story}}
          <div class="intro">{{{intro}}}</div>
          <div class="body">{{{body}}}</div>
        {{/with}}
      </div>
    .notes
      You might find a helper like this useful if a section of your
      JSON object contains deeply nested properties, and you
      want to avoid repeating the parent name. The
      above template could be useful with a JSON like:
    :javascript
      {
        title: "First Post",
        story: {
          intro: "Before the jump",
          body: "After the jump"
        }
      }
    .notes
      Implementing a helper like this is a lot like implementing
      the <code>noop</code> helper. Helpers can take
      parameters, and parameters are evaluated just like expressions
      used directly inside <code>{{mustache}}</code> blocks.
    :javascript
      Handlebars.registerHelper('with', function(context, options) {
        return options.fn(context);
      });
    .notes
      Parameters are passed to helpers in the order that they
      are passed, followed by the options hash.

%h2#iterators
  Simple Iterators

.contents
  .bullet
    .description
      A common use-case for block helpers is using them to define
      custom iterators. In fact, all Handlebars built-in helpers are
      defined as regular Handlebars block helpers. Let's take a look
      at how the built-in <code>each</code> helper works.
    :html
      <div class="entry">
        <h1>{{title}}</h1>
        {{#with story}}
          <div class="intro">{{{intro}}}</div>
          <div class="body">{{{body}}}</div>
        {{/with}}
      </div>
      <div class="comments">
        {{#each comments}}
          <div class="comment">
            <h2>{{subject}}</h2>
            {{{body}}}
          </div>
        {{/each}}
      </div>
    .notes
      In this case, we want to invoke the block passed to <code>each</code>
      once for each element in the comments Array.
    :javascript
      Handlebars.registerHelper('each', function(context, options) {
        var ret = "";

        for(var i=0, j=context.length; i<j; i++) {
          ret = ret + options.fn(context[i]);
        }

        return ret;
      });
    .notes
      In this case, we iterate over the items in the passed parameter,
      invoking the block once with each item. As we iterate, we build
      up a String result, and then return it.

  .bullet
    .description
      This pattern can be used to implement more advanced iterators. 
      For instance, let's create an iterator that creates a
      <code>&lt;ul&gt;</code> wrapper, and wraps each resulting element
      in an <code>&lt;li&gt;</code>.
    :html
      {{#list nav}}
        <a href="{{url}}">{{title}}</a>
      {{/list}}
    .notes
      You would evaluate this template using something like this as
      the context:
    :javascript
      {
        nav: [
          { url: "http://www.yehudakatz.com", title: "Katz Got Your Tongue" },
          { url: "http://www.sproutcore.com/block", title: "SproutCore Blog" },
        ]
      }
    .notes
      The helper is similar to the original <code>each</code> helper.
    :javascript
      Handlebars.registerHelper('list', function(context, options) {
        var ret = "<ul>";

        for(var i=0, j=context.length; i<j; i++) {
          ret = ret + "<li>" + options.fn(context[i]) + "</li>";
        }

        return ret + "</ul>";
      });
    .notes
      Using a library like underscore.js or SproutCore's runtime library 
      could make this a bit prettier. For example, here's what it might 
      look like using SproutCore's runtime library:
    :javascript
      Handlebars.registerHelper('list', function(context, options) {
        return "<ul>" + context.map(function(item) {
          return "<li>" + options.fn(item) + "</li>";
        }).join("\n") + "</ul>";
      });

%h2#conditionals
  Conditionals

.contents
  .bullet
    .description
      Another common use-case for block helpers is to evaluate conditional statements. 
      As with the iterators, Handlebars' built-in <code>if</code> and
      <code>unless</code> control structures are implemented as regular
      Handlebars helpers.
    :html
      {{#if isActive}}
        <img src="star.gif" alt="Active">
      {{/if}}
    .notes
      Control structures typically do not change the current context, instead
      they decide whether or not to invoke the block based upon some variable.
    :javascript
      Handlebars.registerHelper('if', function(conditional, options) {
        if(conditional) {
          return options.fn(this);
        }
      });

  .bullet
    .description
      When writing a conditional, you will often want to make it possible
      for templates to provide a block of HTML that your helper should
      insert if the conditional evaluates to false. Handlebars handles
      this problem by providing generic <code>else</code> functionality
      to block helpers.
    :html
      {{#if isActive}}
        <img src="star.gif" alt="Active">
      {{else}}
        <img src="cry.gif" alt="Inactive">
      {{/if}}
    .notes
      Handlebars provides the block for the <code>else</code> fragment
      as <code>options.inverse</code>. You do not need to check for the 
      existence of the <code>else</code> fragment: Handlebars will detect
      it automatically and register a "noop" function. 
    :javascript
      Handlebars.registerHelper('if', function(conditional, options) {
        if(conditional) {
          return options.fn(this);
        } else {
          return options.inverse(this);
        }
      });
    .notes
      Handlebars provides additional metadata to block helpers by attaching
      them as properties of the options hash. Keep reading for more
      examples.

  .bullet
    .description
      Conditionals may also be chained by including the subsequent helper call
      within the else mustache.

    :html
      {{#if isActive}}
        <img src="star.gif" alt="Active">
      {{else if isInactive}}
        <img src="cry.gif" alt="Inactive">
      {{/if}}

    .notes
      It is not necessary to use the same helper in subsequent calls, the
      <code>unless</code> helper could be used in the else portion as with any
      other helper. When the helper values are different, the closing mustache
      should match the opening helper name.


%h2#hash-arguments
  Hash Arguments

.contents
  .bullet
    .description
      Like regular helpers, block helpers can accept an optional Hash
      as its final argument. Let's revisit the <code>list</code> helper 
      and make it possible for us to add any number of optional attributes 
      to the <code>&lt;ul&gt;</code> element we will create.
    :html
      {{#list nav id="nav-bar" class="top"}}
        <a href="{{url}}">{{title}}</a>
      {{/list}}
    .notes
      Handlebars provides the final hash as <code>options.hash</code>. This
      makes it easier to accept a variable number of parameters, while
      also accepting an optional Hash. If the template provides no hash
      arguments, Handlebars will automatically pass an empty object
      (<code>{}</code>), so you don't need to check for the existence of
      hash arguments.
    :javascript
      Handlebars.registerHelper('list', function(context, options) {
        var attrs = Em.keys(options.hash).map(function(key) {
          return key + '="' + options.hash[key] + '"';
        }).join(" ");

        return "<ul " + attrs + ">" + context.map(function(item) {
          return "<li>" + options.fn(item) + "</li>";
        }).join("\n") + "</ul>";
      });
    .notes
      Hash arguments provide a powerful way to offer a number of optional
      parameters to a block helper without the complexity caused by
      positional arguments.

.contents
  .bullet
    .description
      %p
        Block helpers can also inject private variables into their child
        templates. This can be useful to add extra information that is
        not in the original context data.
      %p
        For example, when iterating over a list, you may provide the
        current index as a private variable.
    :html
      {{#list array}}
        {{@index}}. {{title}}
      {{/list}}
    :javascript
      Handlebars.registerHelper('list', function(context, options) {
        var out = "<ul>", data;

        for (var i=0; i<context.length; i++) {
          if (options.data) {
            data = Handlebars.createFrame(options.data || {});
            data.index = i;
          }

          out += "<li>" + options.fn(context[i], { data: data }) + "</li>";
        }

        out += "</ul>";
        return out;
      });
    .notes
      Private variables provided via the <code>data</code> option are
      available in all descendent scopes.
    .notes
      Private variables defined in parent scopes may be accessed via pathed queries.
      To access the <code>index</code> field of the parent iterator, <code>@../index</code>
      may be used.
    .notes
      Make sure you create a new data frame each time you invoke a block
      with data. Otherwise, downstream helpers might unexpectedly mutate
      upstream variables.
    .notes
      Also ensure that the <code>data</code> field is defined prior to attempting to
      interact with an existing data object. The private variable behavior is condtionally
      compiled and some templates might not create this field.


%h2#bloack-params
  Block Parameters

.contents
  .bullet
    .description
      New in Handlebars 3.0, it's possible to receive named parameters from supporting helpers.

    :html
      {{#each users as |user userId|}}
        Id: {{userId}} Name: {{user.name}}
      {{/each}}

    .notes
      In this particular example, <code>user</code> will have the same value as the current context and <code>userId</code> will have the index value for the iteration.

    .notes
      This allows for nested helpers to avoid name conflicts that can occur with private variables.

    :html
      {{#each users as |user userId|}}
        {{#each user.book as |book bookId|}}
          User Id: {{userId}} Book Id: {{bookId}}
        {{/each}}
      {{/each}}


%h2#raw-blocks
  Raw Blocks

.contents
  .bullet
    .description
      Raw blocks are available for templates needing to handle unprocessed mustache blocks.

      :html
        {{{{raw-helper}}}}
          {{bar}}
        {{{{/raw-helper}}}}

      .notes
        will execute the helper <code>raw-helper</code> without interpretting the content.

      :javascript
        Handlebars.registerHelper('raw-helper', function(options) {
          return options.fn();
        });

      .notes
        will render

      :html
        {{bar}}
