!!!
%html
  %head
    %title Handlebars.js: Minimal Templating on Steroids
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=UTF-8"}/
    = stylesheets
    %link{:rel => "shortcut icon", :href => "/images/favicon.png", :type => "image/png" }
  %body
    #body
      #header
        %a{:href => "/"}
          = img("handlebars_logo.png", :alt => "The best way to manage your application's dependencies")
      #contents
        %a#callout{:href => "http://www.devswag.com/collections/handlebars"}
          = img("handlebars-devswag.png", :alt => "Buy Handlebars swag on DevSwag!")
        = yield

    #credits
    %a#github{ :href => "http://github.com/wycats/handlebars.js/" }
      %img{:src => "http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", :alt => "Fork me on GitHub"}

    %script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-557621-9']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
